html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

/* bg colors */


/* DataGrid */
.k-grid th.text-center, .k-grid td.text-center {
  text-align: center;
}
.k-grid th.text-right, .k-grid td.text-right {
  text-align: right;
}

.grid-head-center {
  justify-content: center;
}

.grid-head-active {
  color: #9c27b0
}
